* {
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, #bcc2ae 0%, #000000 90%);
  font-family: "Silkscreen", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

button {
  font-size: 1.4rem;
  padding: 1em 2em;
  width: 100%;
  background-color: #242628; /* Retro blue color */
  color: #ffffff; /* Text color */
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
  font-family: "Pixelify Sans", sans-serif;
}

button:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); /* Button glow on hover */
}
