/* LoadingScreen.css */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-text {
  opacity: 1;
  font-size: 6rem; /* Set your initial font size */
  transition: opacity 1s ease-in-out, fontSize 1s ease-in-out; /* Adjust the transition duration as needed */
}
